In [1]:
import pandas as pd
import datetime

In [14]:
df = pd.read_csv("https://www1.ncdc.noaa.gov/pub/orders/CDODiv4911488063101.txt")
df.head(10)

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,...,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX,Unnamed: 20
0,109,0,201401,0.53,44.8,-6.13,-6.13,-5.73,-6.13,10,...,-1.86,-2.47,-2.17,-2.15,-2.16,-3.09,-1.86,31.9,57.6,NaN
1,109,0,201402,2.86,45.4,-6.36,-6.36,-2.57,-6.36,3,...,0.30,-0.80,-1.55,-1.71,-1.64,-2.17,-1.50,34.4,56.5,NaN
2,109,0,201403,2.35,49.3,-6.46,-6.46,-2.27,-6.46,11,...,0.21,0.25,-0.59,-1.76,-1.46,-1.79,-1.67,37.0,61.6,NaN
3,109,0,201404,0.90,54.1,-6.43,-6.43,-1.92,-6.43,25,...,-0.43,-0.06,0.05,-1.60,-1.58,-1.64,-1.84,40.4,67.8,NaN
4,109,0,201405,0.54,61.6,-7.13,-7.13,-4.09,-7.13,88,...,-0.58,-0.80,-0.31,-1.49,-1.77,-1.72,-1.86,47.2,76.1,NaN
5,109,0,201406,0.08,69.8,-8.10,-8.10,-5.11,-8.10,169,...,-1.25,-1.27,-1.17,-0.96,-2.10,-1.81,-1.92,54.1,85.4,NaN
6,109,0,201407,0.45,77.4,-8.36,-8.36,-3.28,-8.36,333,...,0.75,-0.51,-0.95,-0.18,-1.85,-1.80,-1.97,62.6,92.2,NaN
7,109,0,201408,0.88,72.7,-7.27,-7.27,0.67,-6.98,266,...,1.55,1.49,0.57,-0.12,-1.37,-1.64,-2.02,58.6,86.8,NaN
8,109,0,201409,0.91,69.5,-6.22,-6.22,0.91,-5.55,232,...,1.18,1.64,1.65,0.01,-0.55,-1.67,-1.81,55.1,83.8,NaN
9,109,0,201410,0.67,60.7,-6.09,-6.09,-1.54,-5.92,99,...,-0.43,0.17,0.71,-0.06,0.05,-1.52,-1.76,46.4,75.0,NaN

In [15]:
data = df.StateCode.replace([109], ['West'], inplace=True)
data

In [16]:
# df["YearMonth"] =  pd.to_datetime(df["YearMonth"])
# df.dtypes

In [17]:
df['YearMonth'] = df['YearMonth'].apply(lambda cell: str(cell)[0:4] + '-' + str(cell)[4:6])
df['YearMonth'].head()

0    2014-01
1    2014-02
2    2014-03
3    2014-04
4    2014-05
Name: YearMonth, dtype: object

In [11]:
# cols= ['Divion','ZNDX','PMDI','CDD','HDD','SP01','SP02','SP03','SP06','SP09','SP12','SP24']
cols = df.iloc[:,[0,2,3,4,5,6,18,19]]
# west = df.drop(cols, axis=1)
cols.head(10)

,StateCode,YearMonth,PCP,TAVG,PDSI,PHDI,TMIN,TMAX
0,West,1970-01-01 00:00:00.000201401,0.53,44.8,-6.13,-6.13,31.9,57.6
1,West,1970-01-01 00:00:00.000201402,2.86,45.4,-6.36,-6.36,34.4,56.5
2,West,1970-01-01 00:00:00.000201403,2.35,49.3,-6.46,-6.46,37.0,61.6
3,West,1970-01-01 00:00:00.000201404,0.90,54.1,-6.43,-6.43,40.4,67.8
4,West,1970-01-01 00:00:00.000201405,0.54,61.6,-7.13,-7.13,47.2,76.1
5,West,1970-01-01 00:00:00.000201406,0.08,69.8,-8.10,-8.10,54.1,85.4
6,West,1970-01-01 00:00:00.000201407,0.45,77.4,-8.36,-8.36,62.6,92.2
7,West,1970-01-01 00:00:00.000201408,0.88,72.7,-7.27,-7.27,58.6,86.8
8,West,1970-01-01 00:00:00.000201409,0.91,69.5,-6.22,-6.22,55.1,83.8
9,West,1970-01-01 00:00:00.000201410,0.67,60.7,-6.09,-6.09,46.4,75.0

In [6]:
cols = cols.rename(columns={"YearMonth": "Date","StateCode":"Region"})
cols.head(10)

  Region    Date      PCP     TAVG     PDSI     PHDI     TMIN     TMAX
0   West  201401     0.53     44.8    -6.13    -6.13     31.9     57.6
1   West  201402     2.86     45.4    -6.36    -6.36     34.4     56.5
2   West  201403     2.35     49.3    -6.46    -6.46     37.0     61.6
3   West  201404     0.90     54.1    -6.43    -6.43     40.4     67.8
4   West  201405     0.54     61.6    -7.13    -7.13     47.2     76.1
5   West  201406     0.08     69.8    -8.10    -8.10     54.1     85.4
6   West  201407     0.45     77.4    -8.36    -8.36     62.6     92.2
7   West  201408     0.88     72.7    -7.27    -7.27     58.6     86.8
8   West  201409     0.91     69.5    -6.22    -6.22     55.1     83.8
9   West  201410     0.67     60.7    -6.09    -6.09     46.4     75.0

In [8]:
# dti = pd.to_datetime(['201401', df.datetime('2014-01'),
#                      datetime.datetime(2014,1)])
dt = df['YearMonth'] = df['YearMonth'].datetime.date

AttributeError: 'Series' object has no attribute 'datetime'

In [9]:
df['YearMonth'] =  pd.to_datetime(df['YearMonth'],format='%m%y')
df['YearMonth']

ValueError: unconverted data remains: 401

In [13]:
df['Date'] = pd.to_datetime(df['Date'])

KeyError: 'Date'

In [ ]:
cols.to_csv('west.csv', index=False)